* {
  padding: 0%;
  margin: 0%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: black;
  background-image: url(https://picsum.photos/1800);
  background-size: cover;
  background-attachment: fixed;
}

img {
  max-width: 100%;
  background-size: cover;
}

.Buttons {
  display: flex;
  flex-direction: column;
}

.Live,
.Git {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 10%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 5% 30%;
}

button {
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

button:hover {
  background-color: black;
  color: white;
}

.project {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Project-container {
  margin-left: 10%;
  margin-right: 10%;
  padding: 5% 5%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
}

.Project-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  min-width: 100%;
  display: flex;
  justify-content: center;
}
